<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SriShops</title>
        <!--=imports -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <!--       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> --> 
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

        <link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-13/e152bfbc6404f32574fe06e54aa4783a.ico">

        <!--custom css-->
        <link rel="stylesheet" href="css/main.css"> 
        <script src="js/main.js"></script>
    </head>
    <body ng-app="scotchApp" ng-controller="mainController">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="  background-color: white">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="small-logo-container">
                        <a class="small-logo" href="#">SriShops</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">


                    <nav class="{{active}}" ng-click="$event.preventDefault()">

                        <!-- When a link in the menu is clicked, we set the active variable -->

                        <a href="/" class="home" ng-click="active='home'">Home</a>

                        <a href="/newspapers" class="newspapers" ng-click="active='newspapers'">Read Newspapers</a>
                        <a href="/article" class="article" ng-click="active='article'">Article Coner</a>
                        <a href="/contact" class="contact" ng-click="active='contact'">Contact Us</a>
                    </nav>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container-fluid big-logo-row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 big-logo-container">
                        <h1 class="big-logo"><img src="http://www.srishops.com/images/header/logo.png" alt="Sri Shops Logo"></h1>
                    </div><!--/.col-xs-12 -->
                </div><!--/.row -->
            </div><!--/.container -->
        </div><!--/.container-fluid -->

        <!-- background animation-->
        <div class="container demo-1">
            <div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                </div>
            </div>
        </div><!-- /container -->
        <!--background animation-->

        <div class="contentdiv">
            <!-- this is where content will be injected -->
            <div ng-view></div>

        </div>



        <script src="js/TweenLite.min.js"></script>
        <script src="js/EasePack.min.js"></script>
        <script src="js/rAF.js"></script>
        <script src="js/backanimation.js"></script>
    </body>
</html>